<!DOCTYPE html>
<html>
<head>
	<title>Filimingo Comparison</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
  body {
    background-color: #e0e0e0;
  }
  .compar{
    margin-left: 40%;
    vertical-align: center;

}
.contact{
  align-items: center;
  align-items: center;
  text-align: center;
}
.container{
  background-color: #fff;
  border-radius: 10px;
}  
  
footer {
  background: #222222;
  position: absolute;
   right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  color: #777;
  margin-top: 30px;
}

</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Filmloop</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/search/">Home</a></li>
        <li><a href="/upload/">Upload</a></li>
      <li><a href="/contact/">Contact Us</a></li>
        <li class="active"><a href="/comparisonpage/">Comparison</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
</nav>
<div class="container">
<div class="compar">
  <form action="/comparison/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="files" accept="image/*">
  <input type="submit" name="comsubmit" value="Submit">
  </form> 
</div>
<hr>

<!-- 
<div>
  <img src="" style = "width: 100px; height: 100px;">  
</div> -->

{% for i in url_list %}
    {% load static %}  

      <img src="{% static i %}" >
    
    {% empty %}
          
      <p>No matches</p>
          
  {% endfor %}

  </div>
  <footer>
    
    <center>© Filmloop.in</center>
    
  </footer>



</body>
</html>