<!doctype html>
<html lang="en">
  <head>
    <title>Filimingo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" type="text/css" href="main2.css">-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/main2.css"> -->

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
       
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      <style type="text/css">
      	body{
           background-color: #e0e0e0;
            }

       .container{
        background-color: #fff;
        border-radius: 10px;
       }
         footer {
          background: #222222;
          padding: 10px;
          font-size: 20px;
          color: #777;
          margin-top: 30px;
        }
        .btn{
          width: 144px;
          background-color: #333;
          border:1px solid #333;
          margin-bottom: 5px;
          border-radius: 0px;
        }
        .btn:hover{
          background-color: #333;
          border:1px solid #333;

        }
        .btn:focus {
        	background-color: #333;
        }
        .upload{
          border-radius: 5px;
        }
        .form-control {
          width: 97%;
        }
     </style>
  </head>
  <body>

  	<div class="nav" style="position: sticky; top: 0; z-index: 100;">
	    <nav class="navbar navbar-inverse">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">Filmloop</a>
	        </div>
	        <ul class="nav navbar-nav">
	          <li ><a href="/search/">Home</a></li>
	          <li class="active"><a href="/upload/">Upload</a></li>
	<!--           <li ><a href="Profile.html">Profiles</a></li>
	 -->          <li ><a href="/contact/">Contact us</a></li>
	          <li><a href="/comparisonpage/">Comparison</a></li>

	          <li style="position: absolute; right: 0;"><a href="/logout/"><i class="fa fa-sign-out"></i>Log out</a></li>

	        </ul>
	      </div>
	    </nav>
	</div>      
    
        <div class="container">
            <div id="text">
              <h2>Upload</h2>
              <h4>You can enter the Name and Details here.:</h4>
            </div>
            <div id="form">
            <form action="/upload/" method="post" enctype="multipart/form-data" onsubmit=" return validateForm()">
              {% csrf_token %}
              <div class="row">
              	<div class="col-md-7 col-sm-12">
                    <div id="name">
                      <label for="usr">Name:</label>
                      <input type="text" class="form-control" id="Name" name ="name">
                    </div>   
                    <div id="place">            
                      <label for="pwd">Place:</label>
                      <input type="text" class="form-control" id="place" name="place">
                    </div>
                  <label for="pwd">Phone:</label>
                  <input type="number" class="form-control" id="phone" name="phone">
                  <label for="pwd">E-mail:</label>
                  <input type="email" class="form-control" id="email" name = "email">
                  <label for="pwd">Height(in cm):</label>
                  <input type="number" class="form-control" id="height" name = "height" min="0" max="230">
                  <label for="pwd">Weight(in Kg):</label>
                  <input type="number" class="form-control" id="weight" name = "weight" min="0" max="200">
                    
	                <label for="pwd">Age:</label>
	                <input type="number" class="form-control" id="age"name="age" value="" min="0" max="120">

                  <div class="Gender">
                    <label for="pwd">Gender:</label>
                    <input type="radio" name="gender" value="Male">
                    <label for="pwd">Male</label>
                    <input type="radio" name="gender" value="Female">
                    <label for="pwd">Female</label>
                    <input type="radio" name="gender" value="Other">
                    <label for="pwd">Other</label>

                  </div> 
                  <div class="Interests">
                    <label for="pwd">Interests:</label>
                    <input type="radio" name="interest" value=1>
                    <label for="pwd">Cinema</label>
                    <input type="radio" name="interest" value=2>
                    <label for="pwd">Shortfilms</label>
                    <input type="radio" name="interest" value=3>
                    <label for="pwd">Ads</label>
                    <input type="radio" name="interest" value=4>
                    <label for="pwd">Ramp</label>
                  </div>
	            </div>
                <div class="col-md-5 col-sm-12" style="padding-left: 5vw; border-left: 1px solid #e0e0e0;">
                  <div class="form-group" id="uploder">
                    <h4>  Upload photos:</h4><br/>
                    <div style="padding-left: 1vw;">
	                    <input type="file" id="name1" class="upload" name="files" multiple "/>
	                    <p id="done"></p>
	                </div>
                    
                  </div> 
 
                  <br/><br/>

	              <div class="Language_skills">
	               <a href="#language_skills" class="btn btn-info skills" data-toggle="collapse">Linguistic Skills</a>   
	               <div id="language_skills" class="collapse">
	                    <label for="english"><input type="checkbox" id="english" name="english" value="1" /> <span>English</span><br></label>
	                    <label for="hindi"><input type="checkbox" id="hindi" name="hindi" value="1" /> <span>Hindi</span><br></label>
	                    <label for="malayalam"><input type="checkbox" id="malayalam" name="malayalam" value="1" /> <span>Malayalam</span><br></label>
	                    <label for="tamil"><input type="checkbox" id="tamil" name="tamil" value="1" /> <span>Tamil</span><br></label>
	                    <label for="kannada"><input type="checkbox" id="kannada" name="kannada" value="1" /> <span>Kannada</span><br></label>
	                    <label for="telugu"><input type="checkbox" id="telugu" name="telugu" value="1" /> <span>Telugu</span><br></label>
	                    <label for="bengali"><input type="checkbox" id="bengali" name="bengali" value="1" /> <span>Bengali</span><br></label>
	                    <label for="marathi"><input type="checkbox" id="marathi" name="marathi" value="1" /> <span>Marathi</span><br></label>
	                    <label for="oriya"><input type="checkbox" id="oriya" name="oriya" value="1" /> <span>Oriya</span><br></label>
	                </div>
	            </div>
	              <div class="Musical_skills">
	               <a href="#music_skills" class="btn btn-info skills" data-toggle="collapse">Musical Skills</a>   
	               <div id="music_skills" class="collapse">
	                    <label for="drums"><input type="checkbox" id="drums" name="drums" value="1" /> <span>drums</span><br></label>
	                    <label for="guitar"><input type="checkbox" id="guitar" name="guitar" value="1" /> <span>guitar</span><br></label>
	                    <label for="piano"><input type="checkbox" id="piano" name="piano" value="1" /> <span>piano</span><br></label>
	                    <label for="trumpet"><input type="checkbox" id="trumpet" name="trumpet" value="1" /> <span>trumpet</span><br></label>
	                    <label for="violin"><input type="checkbox" id="violin" name="violin" value="1" /> <span>violin</span><br></label>
	                    <label for="flute"><input type="checkbox" id="flute" name="flute" value="1" /> <span>flute</span><br></label>
	                    <label for="harmonica"><input type="checkbox" id="harmonica" name="harmonica" value="1" /> <span>harmonica</span><br></label>
	                    <label for="organ"><input type="checkbox" id="organ" name="organ" value="1" /> <span>organ</span><br></label>
	                    <label for="thabala"><input type="checkbox" id="thabala" name="thabala" value="1" /> <span>thabala</span><br></label>
	                </div>
	            </div>
	            <div class="performance_skills">
	              <a href="#demo" class="btn btn-info skills" data-toggle="collapse" >Performance Skills</a>    
	              <div id="demo" class="collapse skil"> 
	                    <label for="comedian"><input type="checkbox" id="comedian" name="comedian" value="1" /> <span>Comedian</span><br></label>
	                    <label for="dancing"><input type="checkbox" id="dancing" name="dancing" value="1" /> <span>Dancing</span><br></label>
	                    <label for="host"><input type="checkbox" id="host" name="host" value="1" /> <span>Host</span><br></label>
	                    <label for="singing"><input type="checkbox" id="singing" name="singing" value="1" /> <span>Singing</span><br></label>
	                    <label for="stunts"><input type="checkbox" id="stunts" name="stunts" value="1" /> <span>Stunts</span><br></label>
	                    <label for="improvisation"><input type="checkbox" id="improvisation" name="improvisation" value="1" /> <span>Improvisation</span><br></label>
	                    <label for="juggling"><input type="checkbox" id="juggling" name="juggling" value="1" /> <span>Juggling</span><br></label>
	                    <label for="magic"><input type="checkbox" id="magic" name="magic" value="1" /> <span>Magic</span><br></label>
	                    <label for="martical_arts"><input type="checkbox" id="martical_arts" name="martical_arts" value="1" /> <span>Martial Arts</span><br></label>
	                      
	                </div>
	            </div>
	            <div class="Dancing_skills">
	              <a href="#dancing_skills" class="btn btn-info skills" data-toggle="collapse">Dancing Skills</a>   
	              <div id="dancing_skills" class="collapse ath">
	                    <label for="bharatanatyam"><input type="checkbox" id="bharatanatyam" name="bharatanatyam" value="1" /> <span>Bharatanatyam</span><br></label>
	                    <label for="kathak"><input type="checkbox" id="kathak" name="kathak" value="1" /> <span>Kathak</span><br></label>
	                    <label for="kathakali"><input type="checkbox" id="kathakali" name="kathakali" value="1" /> <span>Kathakali</span><br></label>
	                    <label for="salsa"><input type="checkbox" id="salsa" name="salsa" value="1" /> <span>Salsa</span><br></label>
	                    <label for="freestyle"><input type="checkbox" id="freestyle" name="freestyle" value="1" /> <span>Freestyle</span><br></label>
	                    <label for="hiphop"><input type="checkbox" id="hiphop" name="hiphop" value="1" /> <span>Hip Hop</span><br></label>
	                    <label for="kuchipudi"><input type="checkbox" id="kuchipudi" name="kuchipudi" value="1" /> <span>Kuchipudi</span><br></label>
	                    <label for="odissi"><input type="checkbox" id="odissi" name="odissi" value="1" /> <span>Odissi</span><br></label>
	                    <label for="western"><input type="checkbox" id="western" name="western" value="1" /> <span>Western</span><br></label>
	                    <label for="other_classicals"><input type="checkbox" id="other_classicals" name="other_classicals" value="1" /> <span>Other Classicals</span><br></label>
	                </div>
	            </div>
	            <div class="Athletic_skills">
	              <a href="#dmo" class="btn btn-info skills" data-toggle="collapse">Athletic Skills</a>   
	              <div id="dmo" class="collapse ath">
	                    <label for="baseball"><input type="checkbox" id="baseball" name="baseball" value="1" /> <span>Baseball</span><br></label>
	                    <label for="basketball"><input type="checkbox" id="basketball" name="basketball" value="1" /> <span>Basketball</span><br></label>
	                    <label for="boxing"><input type="checkbox" id="boxing" name="boxing" value="1" /> <span>boxing</span><br></label>
	                    <label for="football"><input type="checkbox" id="football" name="football" value="1" /> <span>Football</span><br></label>
	                    <label for="surfing"><input type="checkbox" id="surfing" name="surfing" value="1" /> <span>Surfing</span><br></label>
	                    <label for="aerobics"><input type="checkbox" id="aerobics" name="aerobics" value="1" /> <span>Aerobics</span><br></label>
	                    <label for="cycling"><input type="checkbox" id="cycling" name="cycling" value="1" /> <span>Cycling</span><br></label>
	                    <label for="swimming"><input type="checkbox" id="swimming" name="swimming" value="1" /> <span>Swimming</span><br></label>
	                    <label for="tennis"><input type="checkbox" id="tennis" name="tennis" value="1" /> <span>Tennis</span><br></label>
	                    <label for="vollyball"><input type="checkbox" id="volleyball" name="volleyball" value="1" /> <span>Volleyball</span><br></label>
	                    <label for="wrestling"><input type="checkbox" id="wrestling" name="wrestling" value="1" /> <span>Wrestling</span><br></label>
	                    <label for="yoga"><input type="checkbox" id="yoga" name="yoga" value="1" /> <span>Yoga</span><br></label>
	                </div>
	            </div>
	            <div class="work_history">
	              <a href="#work" class="btn btn-info skills" data-toggle="collapse">Work history</a>   
	              <div id="work" class="collapse skil">
	                
	                  <div class="work_history">
	                    <label for="commercial"><input type="checkbox" id="commercial" name="commercial" value="1" /> <span>commercial</span><br></label>
	                    <label for="film"><input type="checkbox" id="film" name="film" value="1" /> <span>film</span><br></label>
	                    <label for="television"><input type="checkbox" id="television" name="television" value="1" /> <span>television</span><br></label>
	                    <label for="theater"><input type="checkbox" id="theater" name="theater" value="1" /> <span>theater</span><br></label>
	                    <label for="voice over"><input type="checkbox" id="voice_over" name="voice_over" value="1" /> <span>voice over</span><br></label>
	                    <label for="short film"><input type="checkbox" id="short_film" name="short_film" value="1" /> <span>short film</span><br></label>
	                    <label for="radio"><input type="checkbox" id="radio" name="radio" value="1" /> <span>radio</span><br></label>
	                   
	                  </div>
	                 </div>
	            </div>
               </div>
            </div>
            <input type="hidden" name="token" id="token" value="1234567890">
            <center><input type="submit" value = "Upload" class="upload" onclick="submit" style="background-color: MediumSeaGreen; padding: 5px;" /></center>
            </form>
          </div>
         </div>
         <div>
       {% if success %}
       <p> Success </p>
       {% endif %}
        </div>        

  <footer>
    
    <center>© Filmloop.in</center>
    
  </footer>
  
     
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
